*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}



.wrapper {}

.container {
    max-width: 1168px;
    margin: 0px auto;
}

.first-screen {
    background: url(img/header-bg.jpg) no-repeat center ;
    height: 900px;
}

.header {
    font-family: 'Anton', sans-serif;
}

.header__row {
    display: flex;
    align-items: center;
    padding-top: 57px;
    margin-bottom: 216px;
}


.header__logo {
    margin-right: 69px;
}

.header__navigation ul {
    display: flex;
}

.header__navigation li {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    margin-left: 40px;
    line-height: 21px;
}

.header__navigation li:first-child {
    margin-left: 0px;
}

.header__navigation a {
    color: white;
}

.header__phone a {
    font-size: 17px;
    color: white;
    letter-spacing: 1.7px;
}

.header__phone {
    margin-left: auto;
}

.offer p {
    font-family: 'Anton';
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
}

.offer h1 {
    font-family: 'Anton';
    font-size: 100px;
    line-height: 147px;
    text-transform: uppercase;
    color: white
}